@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

nav {
  display:flex;
  justify-content: space-between;
  background-color: grey;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  border-bottom: 2px solid white;
  color: white;
  font-family: 'Press Start 2P';
}

.logo {
  font-size: 35px;
  color: grey;

}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}
